@media only screen and (max-width: 950px){
    .consultation {
        padding-left: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .consultation {
        padding-left: 0;
    }
    .promo__wrapper .promo__header {
        font-size: 34px;
    }
    .container {
        max-width: 660px;
    }
    img {
        max-width: 686px;
        background-size: cover;
    }
    .header .header__phone {
        font-size: 15px;
    }
    .header .header__official {
        font-size: 14px;
    }
    .header .official {
        font-size: 14px;
    }
    .header .header__logo {
        width: 200px;
    }
    .promo__wrapper .promo__icon {
        font-size: 16px;
    }
    .advantages_main .advantages_item .advantages_text1 {
        font-size: 17px;
    }
    .advantages_main .advantages_item .advantages_text2{
        font-size: 17px;
    }
    .advantages_main .advantages_item .advantages_text3{
        font-size: 17px;
        padding-left: 4rem;
    }
    .advantages_main .advantages_item .advantages_rem3{
        padding-left: 5rem;
    }
    .advantages_main .advantages_item .advantages_desc1 {
        width: 220px;
    }
    .advantages_main .advantages_item .advantages_desc2 {
        width: 225px;
    }
    .advantages_main .advantages_item .advantages_desc3 {
        width: 228px;
    }

}

@media only screen and (max-width: 686px) {
    .container{
        max-width: 700px;
    }
    br {
        display: none;
    }
    img {
        
        background-size: cover;
        background-position: center;
    }
    .advantages_main .advantages_items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advantages_main .advantages_item .advantages_rem1{
        margin-top: 0px;
    }
    .advantages_main .advantages_item .advantages_rem2{
        padding-left: 5rem;
        margin-top: 50px;
    }
    .advantages_main .advantages_item .advantages_rem3{
        margin-top: 50px;
    }
    .advantages_main .advantages_item .advantages_desc1{
        margin-top: 0px;
        font-size: 15px; 
    }
    .advantages_main .advantages_item .advantages_desc2{
        margin-top: 0px;
        font-size: 15px;
    }
    .advantages_main .advantages_item .advantages_desc3{
        margin-top: 0px;
        font-size: 15px;
        margin-bottom: 50px;
}
    .advantages_main .advantages_item .advantages_text1{
        margin-top: 0px;
        text-align: center;
        padding-left: 0rem;
    }
    .advantages_main .advantages_item .advantages_text2{
        margin-top: 0px;
        text-align: center;
        padding-left: 0rem;
    }
    .advantages_main .advantages_item .advantages_text3 {
        margin-top: 0px;
        text-align: center;
        padding-left: 0rem;
    }
    .consultation .consultation__descr {
        font-size: 25px;
        text-align: center;
        line-height: 50px;
    }
    .consultation .consultation__subdescr{
        text-align: center;
        font-size: 16px;
    }
    .feed-form {
        align-items: center;
        width: 100%;
    }
    .feed-form input{
        width: 300px;
    }
    .submit {
        width: 300px;
    }
}

@media only screen and (max-width: 471px) {
    br {
        display: none;
    }
    .promo .promo__icons {
        margin: 78px auto 0;
    }
    .container{
        max-width: 471px;
    }
    .header .official {
        font-size: 11px;
    }
    .header .header__logo {
        width: 200px;
        display: flex;
        position: absolute;
        top: 10px;
    }
    .header .header__official{
        display: block;
        position: absolute;
        top: 60px;
        padding-left: 1rem;
    }
    .header .header__contacts {
        display: block;
        position: absolute;
        right: 8px;
        top: 7px;
    }
    .advantages_main .advantages_item .advantages_desc1{
        font-size: 14px;
    }
    .advantages_main .advantages_item .advantages_desc2{
        font-size: 14px;
    }
    .advantages_main .advantages_item .advantages_desc3{
        font-size: 14px;
    }
}

@media only screen and (max-width: 419px) {
    .promo .promo__header{
        left: 46px;
        font-size: 30px;
        position: absolute;
    }
    .promo .promo__subheader{
        font-size: 20px;
        position: absolute;
        left: 46px;
        top: 125px;
    }
    .promo .promo__icons {
        width: 370px;
        margin-top: 120px;
        margin: 120px auto 0;
    }
    .promo .button_main {
        display: block;
        margin: 65px 35px auto;
    }
    .promo__wrapper .promo__link {
        display: block;
        margin: 0 auto;
    }
}

/* @media only screen and (max-width: 362px) {
    .header .header__official {
        top: 49px;
    }
    .header .button {
        width: 140px;
    }
    .promo .promo__header {
        font-size: 23px;
    }
    .promo .promo__subheader {
        font-size: 17px;
    }
}  */

@media only screen and (max-width: 360px) {
    .header .header__logo {
        width: 50%;
    }
    .header .header__official {
        font-size: 11px;
        top: 42px;
        line-height: 1px;
        margin-top: 3px;
    }
    .header .button {
        width: 140px;
    }
    .promo .promo__header {
        font-size: 23px;
    }
    .promo .promo__subheader {
        font-size: 17px;
    }
    .promo .promo__icons {
        width: 320px;
        margin: 90px auto 0;
    }
    .promo .promo__text1 {
        font-size: 13px;
    }
    .promo .promo__text2 {
        font-size: 13px;
    }
    .promo .promo__text3 {
        font-size: 13px;
    }
    .promo .button_main {
        display: block;
        margin: 35px auto;
    }
} 