
@font-face {
	font-family: 'MuseoModerno-Medium'; 
	src: url(/src/fonts/MuseoModerno-Medium.woff2); 
}

@font-face {
	font-family: 'MuseoModerno-Light'; 
	src: url(/src/fonts/MuseoModerno-Light.woff2); 
}

@font-face {
	font-family: 'MuseoModerno-Regular'; 
	src: url(/src/fonts/MuseoModerno-Regular.woff2); 
}
 
@font-face {
	font-family: 'MuseoModerno-Bold'; 
	src: url(/src/fonts/MuseoModerno-Bold.woff2); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.promo{
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(/src/img/bg_header.png) center no-repeat;
    background-size: cover;
    background-position: center center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__logo {
    width: 250px;
}

.header .header__logo img{
    width: 100%;
}

.header .header__official {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: white;
    text-align: center;
}
.header .official {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: white;
}

.header .header__phone {
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: white;
}

.header .button {
    display: block;
    width: 153px;
    height: 32px;
    margin-top: 4px;
    background: #C70101;
    border-radius: 5px;
    color: white;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
}

.header .header__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
}

.promo__wrapper .promo__header {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
}

.promo__wrapper .promo__subheader {
    margin-top: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

.button_main {
    margin-top: 66px;
    width: 300px;
    height: 50px;
    background: #C70101;
    border-radius: 5px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
}

.promo__icons {
    margin-top: 65px;
    width: 425px;
    display: flex;
    justify-content: space-between;
}

.promo__icons .promo__icon {
    width: 106px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.promo__icons .promo__icon img {
    display: block;
    margin: 0;
    margin-bottom: 20px;
}

.promo__link {
    margin-top: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;   
}
.link{
    color: #FFFFFF;
}

.promo__icons .promo__icon .img__rem {
    padding-left: 2rem;
} 

.advantages .advantages_main .our_advantages {
    margin-top: 73px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0d0d0d;
}

.advantages .advantages_items {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.advantages .advantages_item {
    align-items: center;
    /* max-width: 238px; */
}

.advantages .advantages_items .advantages_text1 {
    display: block;
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #0D0D0D;
    padding-left: 2rem;

}

.advantages .advantages_rem1 {
    padding-left: 5rem;
}
.advantages .advantages_rem2 {
    padding-left: 6rem;
}
.advantages .advantages_rem3 {
    padding-left: 4rem;
}

.advantages .advantages_main .advantages_desc1{
    font-style: normal;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #0D0D0D;
    text-align: center;
}

.advantages .advantages_items .advantages_text2{

    display: block;
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #0D0D0D;
    padding-left: 2rem;
}

.advantages .advantages_items .advantages_text3{
    display: block;
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #0D0D0D;
    padding-left: 3rem;
}

.advantages .advantages_main .advantages_desc2{ 
    font-style: normal;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #0D0D0D;
    text-align: center;
    padding-left: 1rem;
}

.advantages .advantages_main .advantages_desc3{
    font-style: normal;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #0D0D0D;
    text-align: center;

}

.advantages .advantages_main .desc_link {
    color: #FF0000;
}





